<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="docreminder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <docreminder.Properties.Settings>
            <setting name="KendoxWCFURL" serializeAs="String">
                <value>http://kx5be01/KendoxWebService</value>
            </setting>
            <setting name="KendoxUsername" serializeAs="String">
                <value>dciadmin</value>
            </setting>
            <setting name="KendoxPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPServerAdress" serializeAs="String">
                <value>mx5be01.intra.fiveinfo.ch</value>
            </setting>
            <setting name="SMTPSender" serializeAs="String">
                <value>docreminder@fiveinfo.ch</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value>AEPH</value>
            </setting>
            <setting name="SMPTPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EBillSendTo" serializeAs="String">
                <value>IDX('ebillmail')</value>
            </setting>
            <setting name="EBillSubject" serializeAs="String">
                <value>'E-Rechnung zur Verarbeitung: '+IDX('Rechnungsnummer')</value>
            </setting>
            <setting name="ErrorMailSendTo" serializeAs="String">
                <value>p.aeberhard@fiveinfo.ch</value>
            </setting>
            <setting name="ErrorMailSubject" serializeAs="String">
                <value>Beim Verarbeiten ist ein Fehler aufgetreten.</value>
            </setting>
            <setting name="ErrorMailIncludeLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendErrorMail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLogActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="KendoxSearchProperties" serializeAs="String">
                <value />
            </setting>
            <setting name="AttachDocument" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttachLnkFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KendoxInfoStores" serializeAs="String">
                <value>All</value>
            </setting>
            <setting name="EmailTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AddCpIdisActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KendoxMarkerProperties" serializeAs="String">
                <value />
            </setting>
            <setting name="SendMailActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalComputedIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="LnkFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsReportActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReportRecipient" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportSubject" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportTemplatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>de-CH</value>
            </setting>
            <setting name="SQLConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpressionVariables" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchQuantity" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LoopIfHasMore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopSchedule" serializeAs="String">
                <value />
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value />
            </setting>
            <setting name="StartProcessActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcessRecipient" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomWSFunctions" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomWSFunctionsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="kxpwentropy" serializeAs="String">
                <value />
            </setting>
            <setting name="dsRestClientURL" serializeAs="String">
                <value>https://test.docsafe.ch:7443/test2/api/v2/</value>
            </setting>
            <setting name="dsRestRequest" serializeAs="String">
                <value>documents/envelope</value>
            </setting>
            <setting name="dsSenderBUID" serializeAs="String">
                <value>SANAKK</value>
            </setting>
            <setting name="dsCertFileName" serializeAs="String">
                <value>sanaKK@test.docsafe.ch.p12</value>
            </setting>
            <setting name="dsSendersObjectID" serializeAs="String">
                <value>9798987987</value>
            </setting>
            <setting name="dsSendersObjectAlias" serializeAs="String">
                <value>Arbeitsvertrag - 9798987987</value>
            </setting>
            <setting name="dsDocSafeID" serializeAs="String">
                <value>L47N-WJ54-Q3JU-VMJC</value>
            </setting>
            <setting name="dsSendersDocumentID" serializeAs="String">
                <value>docguid</value>
            </setting>
            <setting name="dsSendersFlowRef" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="dsSendersFlowAlias" serializeAs="String">
                <value>Informationen</value>
            </setting>
            <setting name="dsSenderName" serializeAs="String">
                <value>PhäntäsieAG</value>
            </setting>
            <setting name="dsAnnotation" serializeAs="String">
                <value>Lohnabrechnung</value>
            </setting>
            <setting name="dsLinktext" serializeAs="String">
                <value>Info-Center</value>
            </setting>
            <setting name="dsLinkURL" serializeAs="String">
                <value>http://www.phantasie-ag.ch</value>
            </setting>
            <setting name="dsFileName" serializeAs="String">
                <value>dsFileName</value>
            </setting>
            <setting name="DocSafeActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dsDocumentTitle" serializeAs="String">
                <value>'Lohnabrechnung'</value>
            </setting>
            <setting name="GroupingZipped" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupingZipName" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupingAddParent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupingSearchProperties" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiLanguageTemplateProperty" serializeAs="String">
                <value />
            </setting>
            <setting name="SMTPUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupingSendWithoutChild" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttachmentRenameProperty" serializeAs="String">
                <value />
            </setting>
            <setting name="NEWSearchProperties" serializeAs="String">
                <value />
            </setting>
        </docreminder.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Authentication" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Search" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Common" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Document" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_File" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Process" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_UserTable" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Folder" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Server" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_Log" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_RemoteFolder" />
                <binding name="BasicHttpBinding_Audit" />
                <binding name="BasicHttpBinding_DocumentProcessing" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Authentication" contract="InfoShareService.Authentication"
                name="BasicHttpBinding_Authentication" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Search" contract="InfoShareService.Search"
                name="BasicHttpBinding_Search" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Common" contract="InfoShareService.Common"
                name="BasicHttpBinding_Common" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Document" contract="InfoShareService.Document"
                name="BasicHttpBinding_Document" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_File" contract="InfoShareService.File"
                name="BasicHttpBinding_File" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Process" contract="InfoShareService.Process"
                name="BasicHttpBinding_Process" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_UserTable" contract="InfoShareService.UserTable"
                name="BasicHttpBinding_UserTable" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Folder" contract="InfoShareService.Folder"
                name="BasicHttpBinding_Folder" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_RemoteFolder" contract="InfoShareService.RemoteFolder"
                name="BasicHttpBinding_RemoteFolder" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Server" contract="InfoShareService.Server"
                name="BasicHttpBinding_Server" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Log" contract="InfoShareService.Log"
                name="BasicHttpBinding_Log" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Audit" contract="InfoShareService.Audit"
                name="BasicHttpBinding_Audit" />
            <endpoint address="http://db5be03t:82/InfoShare/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_DocumentProcessing"
                contract="InfoShareService.DocumentProcessing" name="BasicHttpBinding_DocumentProcessing" />
        </client>
    </system.serviceModel>
</configuration>